.body {
  background: linear-gradient(to right, #027e8c, #13c2d6, #77dae5, #77dae5, #77dae5, #13c2d6, #027e8c)
}

.jumbotron {
  background-color: transparent;
}

#nicekitty {

}

#goodboy {

}

.puppykittyimgs {
  max-height: 400px;
  max-width: 100%;
}
